<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask App pour typer votre document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary is-fullheight" xmlns="http://www.w3.org/1999/html">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="box">
                        <h1 class="title has-text-primary has-text-centered">Erreur de votre requête</h1>
                        <div class="container mt-6">
                            <div class="columns is-centered">
                                <a href="/login" class="button is-link has-text-primary is-primary is-inverted is-rounded"><strong>Retour au formulaire</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>