<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask App pour typer votre document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary is-fullheight" xmlns="http://www.w3.org/1999/html">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="box">
                        <h1 class="title has-text-primary has-text-centered">Merci de vous authentifier</h1>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flashes mb-4">
                            {% for message in messages %}
                            <li class="notification is-danger" >{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        <form method="POST">
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <label class="label">Nom d'utilisateur</label>
                                    <input class="input is-primary is-rounded has-text-centered" type="text" name="username" placeholder="ex : Minwei">
                                    <span class="icon is-small is-left">
                                  <i class="fas fa-envelope"></i>
                                </span>
                                    <span class="icon is-small is-right">
                                  <i class="fas fa-check"></i>
                                </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icons-left">
                                    <label class="label">Mot de passe</label>
                                    <input class="input is-primary is-rounded has-text-centered" type="password" name="password" placeholder="ex : Abc123#">
                                    <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                </p>
                            </div>
                            <div class="container mt-6">
                                <div class="columns is-centered">
                                    <button class="button is-primary is-rounded">
                                        S'authentifier
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>